
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="card mb-4">
        <div class="card-block">
            <h3 class="card-title">Create Your Poker Plan</h3>

            <form class="form-horizontal" action="" method="post">
											<fieldset>
												
												<div class="form-group">
													<label class="col-12 control-label no-padding" for="name">Session Name</label>
													
													<div class="col-12 no-padding">
														<input id="name" name="name" type="text" placeholder="Ex : Sprint 10 Planning" class="form-control">
													</div>
												</div>
											
												
												<div class="form-group">
													<label class="col-12 control-label no-padding" for="email">Number Of Voters</label>
													
													<div class="col-12 no-padding">
														<input id="numberOfVoters" name="numberOfVoters" type="text" placeholder="Ex : 4" class="form-control">
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-12 control-label no-padding" for="message">Issues</label>
													
													<div class="col-12 no-padding">
														<textarea class="form-control" id="message" name="message" placeholder="Please enter your issues here....Each line will be converted an issue" rows="5" style="margin-top: 0px; margin-bottom: 0px; height: 309px;"></textarea>
													</div>
												</div>
												
												<!-- Form actions -->
												<div class="form-group">
													<div class="col-12 widget-right no-padding">
														<button type="submit" class="btn btn-primary btn-md float-right">Start Voting</button>
													</div>
												</div>
											</fieldset>
                                        </form>
                                        

        </div>
    </div>
</div>
