
<input type="hidden" id="sprintId" value="<%- sprintId %>">
<input type="hidden" id="voterId" value="<%- voterId %>">
<input type="hidden" id="activeIssueId" value="">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="capitilize"></h3>
    
    <div class="row mt-4">
        
        <div class="card">

				<div class="card-block">
                    
                    <div class="row tc">
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="1">1</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="2">2</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="3">3</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="5">5</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="8">8</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="13">13</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="21">21</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="34">34</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="55">55</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="89">89</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="134">134</div> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-4"> <div class="poker-card" data-value="-1">?</div> </div>
                        <div class="col-lg-12">
                            <div class="poker-card coffee-button" data-value="-2">
                                <i class="fa fa-coffee" aria-hidden="true"></i>
                            </div> 
                        </div>
                    </div>
					
				</div>
			</div>
    </div>

</div>


<script src="/javascripts/apps/voter-vote-app/app.js"></script>