body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.capitilize{
  text-transform: capitalize;
}

.tc{
  text-align: center;
}

.poker-card {
    height: 75px;
    font-size:23px;
    line-height: 75px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.poker-card.active {
    background-color: #7376df;
    color:#FFF;
    -webkit-transition: background-color .2s ease-out;
   -moz-transition: background-color .2s ease-out;
   -o-transition: background-color .2s ease-out;
   transition: background-color .2s ease-out;
}


.coffee-button {
    padding-top: 20px;
}

.progress-label.vote {
    font-size: 25px;
    font-weight: bold;
    display: none;
}

span.nod-error-message {
    color: #d9534f!important;
    font-weight: bold;
    margin-top: 3px;
    padding-left: 3px;
    font-size: 13px;
}

.nod-error textarea {
    margin-bottom: 10px !important;
}

.nod-error input {
    margin-bottom: 5px !important;
}

.show{
    display: block !important;
}

.vote-status{
    width: 72px !important;
    height: 69px !important;
    background-image: url(../images/not-voted.png);
    background-size: 72px 69px;
}

.voted > div > .vote-status{
    background-image: url(../images/voted.png) !important;
}

.coffee > div > .vote-status{
    background-image: url(../images/coffee.png) !important;
}

.unknown > div > .vote-status{
    background-image: url(../images/question.png) !important;
}